@model CustomerLoginModel
@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Customers" asp-action="Login" method="post">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input type="text" asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CustPassword" class="form-label"></label>
                <input type="password" asp-for="CustPassword" class="form-control" />
                <span asp-validation-for="CustPassword"></span>
            </div>
            <div class="mt-3 d-grid">
                <input type="submit" class="btn btn-primary" value="Sign In" />
            </div>
        </div>
    </div>
</form>
